<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   .xcodeSampleCode.plist
   RegularExpression

   Created by ad on 25/12/2017.
   Copyright (c) 2017 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
